<div class="Root">
    <div class="Banner">
        <img src="assets/images/fortBanner2.jpg" alt="">
    </div>
    <br>
    <div class="Banner">
        <h1>Forts</h1>
        <mat-divider></mat-divider>
        <div class="richTextBlock">
            <span>
                {{categoryData.caterogyDesc}}
            </span>
        </div>
        <div>
            <div class="col1">
                <button mat-raised-button class="col4 altActionBtn">Explore</button>
            </div>
            <br>
        </div>
    </div>
</div>