:root {
    --dottedTextSize: '';
}

.lcd-text {
    font-family: 'Press Start 2P', monospace;
    font-size: var(--dottedTextSize);
    line-height: 1.6;
    letter-spacing: 3px;
    color: transparent;
    background-image: radial-gradient(circle, transparent 0.5px, #555555 0.5px, #555555 1px, transparent 1.5px);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    background-clip: text;
}

.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}