<div class="Root richTextBlock">
    <ng-container>

        <mat-drawer-container [hasBackdrop]="false">
            <mat-drawer #drawer mode="over" position="start" class="drawer">
                <div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h3 onmousedown="">Forts <i class="fa-solid fa-filter " id="_icons"
                                (mousedown)="togglePopup()"></i>
                        </h3>
                        <i class="fa-solid fa-circle-xmark" id="_icons" (click)="drawer.toggle()"
                            style="color: rgb(191, 57, 57);"></i>
                    </div>
                    <ng-container>
                        <input matInput placeholder="Search" required class="customInput" (input)="searchList($event)">
                    </ng-container>

                </div>
                <hr style="margin: 3px;">
                <div>
                    <div>
                        <div class="contentPresent" *ngFor="let item of fortList;let i = index">
                            <h3 (click)="LoadContentInfo(item?.id)">{{item?.name}}</h3>
                        </div>
                    </div>
                </div>
            </mat-drawer>

            <div class="main-content">
                <button type="button" mat-raised-button (click)="drawer.toggle()"
                    class="col5 altActionBtn">List</button>
                <div class="col1">
                    <!-- Content Render -->
                    <div class="richTextBlock">
                        <!-- 1 -->
                        <h1 align="center">{{DisplayData?.name}}</h1>
                        <div class="boxShadow">
                            <!-- 2 -->
                            <div class="imgAndData">
                                <div>
                                    <img [src]="DisplayData?.imgUrl !== ''? DisplayData?.imgUrl : this.defaultImage"
                                        [alt]="DisplayData?.ImgAlt">
                                    <small class="imageWithOverlay">Image By: {{DisplayData?.imgAuthor !== ''
                                        ?DisplayData?.imgAuthor: 'Topic Tree' }}</small>
                                </div>
                                <div class="infoPresent">
                                    <h2></h2>
                                    <pre [innerHTML]="DisplayData?.Desc" class="textBlock"></pre>
                                </div>
                            </div>

                            <mat-divider></mat-divider>

                            <!-- other Data -->
                            <ng-container *ngIf="DisplayData?.highlight?.length != 0">
                                <div class="marPad richTextBlock">
                                    <div *ngFor="let item1 of DisplayData?.highlight">
                                        <ul *ngFor="let item2 of item1.list">
                                            <ng-container *ngIf="!checkArray(item2.value)">
                                                <li style="margin: 2px; padding: 3px;"> <strong>{{item2.title}}</strong>
                                                    : {{item2.value}} </li>
                                            </ng-container>
                                            <ng-container *ngIf="checkArray(item2.value)">
                                                <li style="margin: 2px; padding: 3px;"> <strong>{{item2.title}}</strong>
                                                    :
                                                    <ul *ngFor="let i2Val of item2.value">
                                                        <li style="margin-left: 20px;">{{i2Val}}</li>
                                                    </ul>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                </div>
                            </ng-container>

                            <mat-divider></mat-divider>

                            <!-- Map -->
                            <ng-container>
                                <div class="mapHolder">
                                    <app-osm-maps></app-osm-maps>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-container>
    </ng-container>
</div>


<!-- Loading effect popup -->
<app-loading-effect [loaderType]="'load'" *ngIf="loading"></app-loading-effect>

<!-- POP for Filter -->
<ng-template #customDiv>
    <div style="padding: 5px; background-color: lightgreen;">
        <div>
            <mat-checkbox class="richTextBlock">Easy Treak</mat-checkbox>
        </div>
    </div>
</ng-template>

<app-popup-generic [popupTitle]="'Filter'" [templete]="customDiv" [popupToggle]="popupFlag"
    (ChildCd)="doChanges($event)"></app-popup-generic>