<div class="Root richTextBlock">
    <ng-container>

        <mat-drawer-container class="drawer-container" [hasBackdrop]="false">
            <mat-drawer #drawer mode="over" position="start" class="drawer">
                <div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h3 onmousedown="">Forts <i class="fa-solid fa-filter " id="_icons"
                                (mousedown)="togglePopup()"></i>
                        </h3>
                        <i class="fa-solid fa-circle-xmark" id="_icons" (click)="drawer.toggle()"
                            style="color: rgb(191, 57, 57);"></i>
                    </div>
                    <ng-container>
                        <input matInput placeholder="Search" required class="customInput" (input)="searchList($event)">
                    </ng-container>

                </div>
                <hr style="margin: 3px;">
                <div>
                    <div>
                        <div class="contentPresent" *ngFor="let item of fortList;let i = index">
                            <h3 (click)="LoadContentInfo(i)">{{item.name}}</h3>
                        </div>
                    </div>
                </div>
            </mat-drawer>

            <div class="main-content">
                <button type="button" mat-raised-button (click)="drawer.toggle()"
                    class="col5 altActionBtn">List</button>
                <div class="col1">
                    <!-- Content Render -->
                    <div class="customLayout richTextBlock">
                        <!-- 1 -->
                        <h1 align="center">Heading</h1>

                        <!-- 2 -->
                        <div class="imgAndData">
                            <div>
                                <img src="assets/images/castle.jpg" alt="">
                            </div>
                            <div><div></div>
                                <span>
                                    <h3>Line one index</h3>
                                    <p [innerHTML]="Test"></p>
                                </span>
                            </div>
                        </div>

                        <!-- 3 -->
                        <div>
                            Paragraph displayed here
                        </div>

                        <!-- 4 -->
                        <div>
                            Also story related to fort will be displayed here
                            <a href="">MAP URL here</a>
                        </div>
                    </div>

                </div>
            </div>
        </mat-drawer-container>
    </ng-container>
</div>

<!-- Loading effect popup -->
<app-loading-effect [loaderType]="'load'" *ngIf="loading"></app-loading-effect>

<ng-template #customDiv>
    <div style="padding: 5px; background-color: lightgreen;">
        <div>
            <mat-checkbox class="richTextBlock">Easy Treak</mat-checkbox>
        </div>
    </div>
</ng-template>

<!-- POP for Filter -->
<app-popup-generic [popupTitle]="'Filter'" [templete]="customDiv" [popupToggle]="popupFlag"
    (ChildCd)="doChanges($event)"></app-popup-generic>