<div class="Root richTextBlock">
    <ng-container>

        <mat-drawer-container class="drawer-container">
            <mat-drawer #drawer mode="over" position="start" class="drawer">
                <div>
                    <h3 onmousedown="">Forts <i class="fa-solid fa-filter " id="_icons" (mousedown)="togglePopup()"></i>
                    </h3>
                    <ng-container>
                        <input matInput placeholder="Search" required class="customInput" (input)="searchList($event)">
                    </ng-container>
                </div>
                <br>
                <mat-divider></mat-divider>
                <div>
                    <div>
                        <div class="contentPresent" *ngFor="let item of fortList">
                            <h3>{{item.name}}</h3>
                        </div>
                    </div>
                </div>
            </mat-drawer>

            <div class="main-content">
                <button type="button" mat-raised-button (click)="drawer.toggle()"
                    class="col5 altActionBtn">List</button>
                <div class="col1">
                    <div style="background-color: antiquewhite;">
                        <h1>H1</h1>
                    </div>
                </div>
            </div>
        </mat-drawer-container>
    </ng-container>
</div>

<!-- Loading effect popup -->
<app-loading-effect [loaderType]="'load'" *ngIf="loading"></app-loading-effect>

<ng-template #customDiv>
    <div style="padding: 5px; background-color: lightgreen;">
        <div>
            <mat-checkbox class="richTextBlock">Easy Treak</mat-checkbox>
        </div>
    </div>
</ng-template>

<!-- POP for Filter -->
<app-popup-generic [popupTitle]="'Filter'" [templete]="customDiv" [popupToggle]="popupFlag"
    (ChildCd)="doChanges($event)"></app-popup-generic>