.drawer-container {
    height: 100vh;
    display: flex;
}

.drawer {
    width: 250px;
    background-color: #a3ebb1;
    padding: 1rem;
}

.main-content {
    flex: 1;
    // padding: 1rem;
}

// CONTENT display
.imgAndData {
    display: flex;
    padding: 1rem;
    justify-content: flex-start;

}

.imgAndData img {
    width: 600px;
    height: auto;
    // border: 1px solid black;
    border-radius: 7px;
    box-shadow: -5px 5px 4px #363636;
}

@media (max-width: 451px) {
    .imgAndData {
        display: flex;
        flex-direction: column;
    }

    .imgAndData img {
        width: 100%;
        height: auto;
    }

}