.drawer-container {
    height: 100vh;
    display: flex;
}

.drawer {
    width: 250px;
    background-color: #a3ebb1;
    padding: 1rem;
}

.main-content {
    flex: 1;
    // padding: 1rem;
}

// CONTENT display
