<div class="dashboardHolder">
    <!-- Background Image -->
    <img [src]="this.bgImage" class="bgImage" [class.fade-in]="bgImage"/>
    <div class="bgOverlay"></div>

    <div id="billboard"></div>

    <div class="topicCards">

        <div class="cards richTextBlock" *ngFor="let cdata of cardsData; index as i">
            <div [id]="cdata.cardStyle" (mouseover)="configurationSetting(cdata.cardTitle)"
                (mouseleave)="configurationSetting('default')" (mousedown)="configurationSetting(cdata.cardTitle,true)">
                <h1>
                    {{ cdata.cardTitle }} <i [class]="cdata.cardIcon" id="_icons"></i>
                </h1>
                <div>
                    <span>
                        {{ cdata.cardDesc }}
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

<app-loading-effect [loaderType]="'load'" *ngIf="loading"></app-loading-effect>