<div class="dashboardHolder">
    <div id="billboard">

        <!-- Make this dymanic too. -->
         <!-- When i hover over 1 card. others should go blur and animation should play in background of dashboard -->

    </div>
    <div class="topicCards">
        <div class="cards">
            <div id="military" (mouseenter)="highlightCard('military')">
                <h1>Heading here</h1>
                <div>
                    <span>
                        Brief Description will be put here to give simple zist of content.
                    </span>
                </div>
            </div>
        </div>
        <div class="cards">
            <div id="history">
                <h1>Heading here</h1>
                <div>
                    <span>
                        Brief Description will be put here to give simple zist of content.
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>