<header>
    <div class="headerGlobal">
        <div class="logo">Topic Tree</div>
        <nav class="navLinks">
            <a href="#">Home</a>
            <a (mousedown)="togglePopup()">About</a>
        </nav>
    </div>
</header>  
<div>
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="footerGlobal">
        <span></span>
    </div>
</footer>

<!-- Passing div to child -->
<ng-template #customDiv>
    <div style="padding: 10px; background-color: rgb(246, 246, 246);">
        <h3 style="color: rgb(40, 40, 40);">projecthaderind&#64;gmail.com</h3>
    </div>
</ng-template>

<app-popup-generic [popupTitle]="'TopicTree'" [templete]="customDiv" [popupToggle]="popupFlag" (ChildCd)="doChanges($event)"></app-popup-generic>