<header>
    <div class="headerGlobal">
        <div class="logo">Topic Tree</div>
        <nav class="navLinks">
            <a href="#">Home</a>
            <a (mousedown)="togglePopup()">About</a>
        </nav>
    </div>
</header>  
<div>
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="footerGlobal">
        
    </div>
</footer>

<!-- Passing div to child -->
<ng-template #customDiv>
    <div style="padding: 10px; background-color: lightgreen;">
        I am a div passed from parent!
    </div>
</ng-template>

<app-popup-generic [popupTitle]="'TopicTree'" [templete]="customDiv"></app-popup-generic>