html,
body {
  height: 100%;
  margin: 0;
}

:host {
  display: block;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  /* stack items vertically on small screens */
  gap: 10px;
  align-items: stretch;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

/* 📱 Tablet and above: switch to row */
@media (min-width: 500px) {
  .controls {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
  border: none;
  background-color: #1976d2;
  color: white;
  border-radius: 4px;
}

#map {
  flex: 1;
  height: calc(75vh - 60px); // Adjust based on controls
  margin: 20px;
  border: 1px solid #333;
  border-radius: 7px;
}

@media (max-width: 451px) {
  #map {
    margin: 20px;
  }
}

.route-popup {
  background-color: #ffffff;
  border: 1px solid #1976d2;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}