
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green-background {
    background: url('/assets/images/greenBackground.jpg') center center / cover no-repeat;
}
